body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--background);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visualyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

:root {
	--black: #3B434E;
	--white: #FFF;
	--primary: #7351F5;
	--primary-hover: #6343E2;
	--red-light: #FC836D;
	--green: #007B48;
	--green-border: #1DC37E;
	--green-light: #C8F8E4;
	--background: #F5F6F8;
	--gray-light: #EBEBEB;
	--gray-dark: #6C7077;
	--gray-placeholder: #A4A4A4;
	--gray: #51648C;
	--red: #DE0000;
	--blue: #F9F8FF;
	--font-family:
		"Noto Sans",
		sans-serif;
}
