body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--background);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: #FFF;
	--primary: #7653FC;
	--primary-hover: #6343E2;
	--red-light: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--background: #F5F6F8;
	--gray-light: #EBEBEB;
	--gray-dark: #787D85;
	--gray: #B3C0D9;
	--red: #DE0000;
	--blue: #F9F8FF;
	--font-family:
		"Noto Sans",
		sans-serif;
}
